# Environment variables
.env

# Virtual environments
venv/
myenv/
env/
.venv/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Django specific
db.sqlite3
/staticfiles/
/media/

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

